.navbar-dark {
  background-color: #343a40; }
  .navbar-dark .fa-sign-in {
    color: #fff; }

.jumbotron {
  padding: 50px 20px 20px 20px;
  margin: 0px auto;
  background-color: #007BFF;
  color: #fff;
  height: auto; }
  .jumbotron .carousel {
    background-color: #cecece; }
  .jumbotron .carousel-item {
    min-height: 300px; }
  .jumbotron .badge-light {
    color: #343a40; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.row-content {
  margin: 0px auto;
  padding: 30px 0px 30px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.containerEvent {
  padding: 0px 10px 0px 10px;
  margin: 0 auto; }
  .containerEvent #leftNavEvent {
    position: sticky; }
    .containerEvent #leftNavEvent p, .containerEvent #leftNavEvent a {
      margin: 0;
      font-size: 85%; }
  .containerEvent .card .card-body, .containerEvent .card .card-header, .containerEvent .card .card-footer {
    padding: 10px; }
  .containerEvent .card .card-title {
    margin-bottom: 0px; }

.mainSearch {
  padding: 0px 0px 50px 0px; }

.media {
  margin: 20px 0px 40px 0px; }
  .media img {
    min-height: 100px;
    min-width: 100px;
    max-width: 200px; }

footer {
  margin: 0px auto;
  padding: 30px 0px 20px 0px;
  background-color: #343a40;
  color: #fff; }
  footer #logoFooter {
    min-width: 100px;
    min-height: 100px; }
  footer #sponsor1 {
    min-width: 50px;
    min-height: 50px; }
  footer .btn-social-icon {
    color: #fff; }
  footer .copyright {
    font-size: 90%;
    margin: 10px 0px 0px 0px; }
    footer .copyright .brandCopyright {
      font-weight: bold;
      color: #007BFF; }
