$colorDark: #343a40;
$colorGray: #959ea8;
$colorBlue: #007BFF;
$colorPureWhite: #fff;

.navbar-dark{
    background-color: $colorDark;
}

.jumbotron{
    margin: 0px auto;
    background-color: $colorBlue;
    color: $colorPureWhite;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.row-content{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

footer{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    background-color: $colorDark;
    color: $colorPureWhite;
    .copyright{
        font-size: 90%;
        margin: 20px 0px 0px 0px;
        .brandCopyright{
            font-weight: bold;
            color: $colorBlue;
        }
    }
}