$colorDark: #343a40;
$colorGray: #cecece;
$colorBlue: #007BFF;
$colorPureWhite: #fff;

.navbar-dark{
    background-color: $colorDark;

    .fa-sign-in{
        color: $colorPureWhite;
    }
}

.jumbotron{
    padding: 50px 20px 20px 20px;
    margin: 0px auto;
    background-color: $colorBlue;
    color: $colorPureWhite;
    height: auto;
    .carousel{
        background-color: $colorGray;
    }
    .carousel-item{
        min-height: 300px;
    }
    .badge-light{
        color: $colorDark;
    }
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.row-content{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-search{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    min-height: auto;
}

.containerEvent{
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
    #leftNavEvent{
        position: sticky;
        p, a{
            margin: 0;
            font-size: 85%;
        }
        .nav-link{
            padding: 4px 8px;
        }
    }
    .wrapCard{
        padding: 0px 4px 0px 4px;
        img{
            min-width: 250px;
            min-height: 250px;
        }
    }
    .card{
        margin-bottom: 10px;
        .card-body, .card-header, .card-footer{
            padding: 10px;
        }
        .card-title{
            margin-bottom: 0px;
        }
    }
}

.mainSearch{
    padding: 0px 0px 50px 0px;
}

.media{
    margin: 20px 0px 40px 0px;
    img{
        min-height: 100px;
        min-width: 100px;
        max-width: 200px;
    }
}

footer{
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
    background-color: $colorDark;
    color: $colorPureWhite;
    #logoFooter{
        min-width: 100px;
        min-height: 100px;
    }
    #sponsor1{
        min-width: 50px;
        min-height: 50px;
    }
    .btn-social-icon{
        color: $colorPureWhite;
    }
    .copyright{
        font-size: 90%;
        margin: 10px 0px 0px 0px;
        .brandCopyright{
            font-weight: bold;
            color: $colorBlue;
        }
    }
}